*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body{
    background-image: url('../src/girassois1.png'); /* Insira o caminho para a sua imagem de fundo */
    background-repeat: no-repeat; /* Evita que a imagem se repita */
    background-attachment: fixed; /* Fixa a imagem no lugar */
    background-size: cover;
    opacity: 8;
}

header{
    background-image: linear-gradient(#35acbd, #eadcb9);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.title{
    font-size: 50px;
    font-family: 'Quicksand', sans-serif;
    color: #eadcb9;
    text-align: center;

}

button{
    padding: 10px 20px;
    background-color: aliceblue;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button a{
    color: #914215;
    text-decoration: none !important;
    outline: none !important;
    cursor: pointer;
}

button:hover{
    background-color: #914215;
    color: aliceblue;
}

.footer{
    padding: 50px;
    background-image: linear-gradient(aliceblue, #35acbd);
    width: 100%;
    align-items: end;
    justify-content: center;
    position: absolute;
}

.main {
    min-height: 100vh;
    width: 100%; /* Largura da sua área de conteúdo principal */
    background-color: rgb(0,0,0, 0.8); /* o 4° 'argumento' define a trasparência*/
    padding-top: 50px; /* Espaçamento interno para o conteúdo */
    overflow-y: auto; /* Adiciona barra de rolagem vertical se o conteúdo for maior que a área */
    text-align: center;
}

/*------------"botões" da header----------------*/
    #cabecalho{
        font-size: 20px;
        text-align: left;
        display: flexbox;
        font-family: "Caveat", sans-serif;
    }

    #sobre-mim{
        font-family: 'Quicksand', sans-serif;
        color: #35acbd;
        text-align: right;
        margin: 30px;
        background-color: aliceblue;
    }

    #habilidades{
        font-family: 'Quicksand', sans-serif;
        color: aliceblue;
        text-align: left;
        margin: 30px;
        background-color: #35acbd;
    }

    #hobbies{
        font-family: 'Quicksand', sans-serif;
        color: #35acbd;
        text-align: right;
        margin: 30px;
        background-color: aliceblue;
    }

    #contato{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-align: center;
        margin: 30px;
        font-size: 50px;
        color:aliceblue;
    }
/*--------------Imagem da header---------------*/
    .logo{
        height: 100px;
        width: 100px;
    }
/*------------barra de navegação--------------*/  
    .barra-navegacao{
        font-size: 20px;
        list-style-type: none;
    }

    .barra-navegacao li{
        display: inline-block;
        margin-left: 30px;
    }

    .barra-navegacao li a{
        text-decoration: none;
        color: aliceblue;
    }

    .barra-navegacao li:hover{
        transform: scale(1.1);
    }
/*--------esse deixa o container branco--------*/
    .container
    {
        display:flex;
        justify-content: space-between;
        background-color: aliceblue;
    }
/*-------esse deixa o container marrom---------*/
    .container2
    {
        display: flex;
        justify-content: space-between;
        background-color: #35acbd;
    }
/*---------------------------------------------*/
    .containerb
    {
        display:flex;
        justify-content: left;
        background-color: aliceblue;
    }

    .container2b
    {
        display:flex;
        justify-content: right;
        background-color: #35acbd;
    }

.box{
    max-height: 60vh;
    width: 80%;
    padding: 20px;
    border-radius: 15px;
    background-color: #f0f0f0;
    margin: auto;
    border-style: dotted;
    border-color: #914215;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
}

.imgbox{
    border-radius: 15px;
    margin: auto;
    width: 60%;
    border-style: dotted;
    border-color: #914215;
    display: flexbox;
}

.img{
    border-radius: 15px;
    margin: auto;
    width: 60%;
    border-style: dotted;
    border-color: #914215;
    display: flexbox;
}

.txtcaixa {
    max-width: 100%;
    text-align: center;
    font-size: 20px;
    object-fit: contain;
}

.simple-list{
    list-style-type: none;
    text-align: center;
}

.texto-bemvindo{
    margin: 90px;
    font-size: 25px;
    text-align: left;
    font-family: 'Quicksand', sans-serif;
    color: #e8bd78;
    justify-content: space-between;
}

.containerform {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 20px;
    
}
.separador{
    min-height: 60vh;
    width: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.legenda{
    text-align: center;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:#d68d32;
}

.boxform{
    background-color: #d68d32;
    width: 40%;
    margin: auto;
    padding: 50px;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    box-shadow: #914215;
}

.flechinha-inicio{
    position: fixed;
    bottom: 20px; /* Ajuste conforme necessário para a posição desejada */
    right: 20px; /* Ajuste conforme necessário para a posição desejada */
    cursor: pointer;
    margin: 20px;
    width: 20px;
}

.icon{
    width: 2%;
}

.boxform input[type="reset"] {
    display: block;
    margin: 0 auto;
}

input[type="text"] {
    width: 450px;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: #f8f8f8;
    color: #d68d32;
    font-size: 16px;
}

input[type="email"] {
    width: 450px;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: #f8f8f8;
    color: #d68d32;
    font-size: 16px;
}

input[type="textarea"] {
    width: 450px;
    height: 60px;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: #f8f8f8;
    color: #d68d32;
    font-size: 16px;
}

input[type="submit"] {
    padding: 10px 20px;
    background-color: #ccc;
    color: #914215;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #914215;
    color: #fff;
}

/*Para celulares*/
@media(min-width: 360px) and (max-width: 767px ) {

    .main {
        min-height: 100vh;
        width: 100%; /* Largura da sua área de conteúdo principal */
        padding-top: 50px;
    }

    .footer{
        padding: 20px;
        width: 89%;
        align-items: end;
        justify-content: center;
        position: absolute;
    }

    #contato{
        font-size: 30px;
        margin: auto;
    }
    
    .title{
        font-size: 30px;
        font-family: 'Quicksand', sans-serif;
        color: #eadcb9;
        text-align: center;
    }

    .texto-bemvindo{
        margin: 30px;
        font-size: 18px;
    }

    .barra-navegacao{
        font-size: 20px;
    }

    .barra-navegacao li{
        display: block;
        margin: 10px;
    }

    .txtcaixa {
        max-width: 100%;
        font-size: 15px;
        object-fit: contain;
    }

    .imgbox{
        margin: auto;
        width: 90%;
    }

    .img{
        width: 90%;
        display: flexbox;
    }

    .container
    {
        flex-direction: column;
    }

    .container2
    {
        flex-direction: column;
    }

    .containerform {
        height: 100%;
        padding: 20px;
        text-align: center;
    }

    .separador{
        min-height: 60vh;
        width: 90%;
        margin: auto;
        padding: 10px;
        display: flex;
        flex-direction: column;
    }

    input[type="text"] {
        width: 150px;
        margin-bottom: 20px;
        font-size: 10px;
    }
    
    input[type="email"] {
        width: 150px;
        margin-bottom: 20px;
        font-size: 10px;
    }
    
    input[type="textarea"] {
        width: 150px;
        height: 60px;
        margin-bottom: 20px;
        font-size: 10px;
    }

}

 /* 768px - 1024px = telas menores, laptops */
 @media (min-width: 768px) {

    .main {
        min-height: 80vh;
        width: 100%;
        padding-top: 50px;
    }

    .footer{
        padding: 30px;
        width: 708px;
    }

    .imgbox{
        margin: auto;
        width: 90%;
    }

    .img{
        border-radius: 15px;
        margin: auto;
        width: 90%;
        border-style: dotted;
        border-color: #914215;
        display: flexbox;
    }

    .separador{
        min-height: 40vh;
        width: 100%;
        padding: 30px;
        display: flex;
        flex-direction: column;
    }
    
    .boxform{
        width: 60%;
        padding: 50px;
        align-items: center;
        justify-content: center;
    }
  }
  
  /* 1024px - 1200px = desktop menores */
  @media (min-width: 1024px) {
    .main {
        min-height: 100vh;
        width: 100%; /* Largura da sua área de conteúdo principal */
        background-color: rgb(0,0,0, 0.8); /* o 4° 'argumento' define a trasparência*/
        padding-top: 50px; /* Espaçamento interno para o conteúdo */
        overflow-y: auto; /* Adiciona barra de rolagem vertical se o conteúdo for maior que a área */
        text-align: center;
    }

    .footer{
        padding: 30px;
        width: 94.09%;
        justify-content: center;
    }

    .texto-bemvindo{
        margin: 100px;
        font-size: 18px;
    }

    .box{
        max-height: 50vh;
        width: 60%;
        padding: 30px;
        background-color: #f0f0f0;
        margin: auto;
    }

    .imgbox{
        border-radius: 15px;
        margin: auto;
        width: 60%;
        border-style: dotted;
        border-color: #914215;
        display: flexbox;
    }

    .img{
        border-radius: 15px;
        margin: auto;
        width: 80%;
        display: flexbox;
    }
  }
  
  /* 1200 e + = telas maiores, tvs */
  @media (min-width: 1200px) {
    .footer{
        padding: 30px;
        width: 100%;
        justify-content: center;
    }

    .txtcaixa {
        max-width: 100%;
        font-size: 28px;
    }

    .separador{
        min-height: 40vh;
        width: 100%;
        padding: 40px;
        display: flex;
        flex-direction: column;
    }
    
    .texto-bemvindo{
        margin: 100px;
        font-size: 20px;
    }
  }